In [17]:
import time
from datetime import date

import numpy as np
import pandas as pd

import pandas_datareader as pdr
import yfinance as yf

In [2]:
end = date.today()
print(f"Year = {end.year}; month= {end.month}; day={end.day}")

start = date(year=end.year-70, month=end.month, day=end.day)
print(f"Period for indexes: {start} to {end}")

Year = 2024; month= 4; day=21
Period for indexes: 1954-04-21 to 2024-04-21

# 1. Average growth of GDP in 2023

What is the average growth (in %) of GDP in 2023?

Download the timeseries Real Gross Domestic Product (GDPC1) from FRED (https://fred.stlouisfed.org/series/GDPC1). Calculate year-over-year (YoY) growth rate (that is, divide current value to one 4 quarters ago). Find the average YoY growth in 2023 (average from 4 YoY numbers). Round to 1 digit after the decimal point: e.g. if you get 5.66% growth => you should answer 5.7

In [3]:
gdpc1 = pdr.DataReader("GDPC1", "fred", start=start)

In [4]:
gdpc1.head()

               GDPC1
DATE
1954-07-01  2880.482
1954-10-01  2936.852
1955-01-01  3020.746
1955-04-01  3069.910
1955-07-01  3111.379

In [5]:
gdpc1["gdpc1_us_yoy"] = (gdpc1["GDPC1"]/gdpc1["GDPC1"].shift(4)-1) * 100

In [6]:
gdpc1.tail()

                GDPC1  gdpc1_us_yoy
DATE
2022-10-01  21989.981      0.651692
2023-01-01  22112.329      1.717927
2023-04-01  22225.350      2.382468
2023-07-01  22490.692      2.926887
2023-10-01  22679.255      3.134491

# 2. Inverse "Treasury Yield"

Find the min value of (dgs10-dgs2) after since year 2000 (2000-01-01) and write it down as an answer, round to 1 digit after the decimal point.

Download DGS2 and DGS10 interest rates series (https://fred.stlouisfed.org/series/DGS2, https://fred.stlouisfed.org/series/DGS10). Join them together to one dataframe on date (you might need to read about pandas.DataFrame.join()), calculate the difference dgs10-dgs2 daily.

(Additional: think about what does the "inverted yield curve" mean for the market and investors? do you see the same thing in your country/market of interest? Do you think it can be a good predictive feature for the models?)

In [8]:
end = date.today()
print(f"Year = {end.year}; month= {end.month}; day={end.day}")

start = date(year=2000, month=1, day=1)
print(f"Period for indexes: {start} to {end}")

Year = 2024; month= 4; day=21
Period for indexes: 2000-01-01 to 2024-04-21

In [9]:
dgs2 = pdr.DataReader("DGS2", "fred", start=start)
dgs10 = pdr.DataReader("DGS10", "fred", start=start)

In [10]:
dgs2.head()

            DGS2
DATE
2000-01-03  6.38
2000-01-04  6.30
2000-01-05  6.38
2000-01-06  6.35
2000-01-07  6.31

In [12]:
new_dgs = dgs2.join(dgs10)

In [13]:
new_dgs.head()

            DGS2  DGS10
DATE
2000-01-03  6.38   6.58
2000-01-04  6.30   6.49
2000-01-05  6.38   6.62
2000-01-06  6.35   6.57
2000-01-07  6.31   6.52

In [14]:
new_dgs["difference"] = new_dgs["DGS10"] - new_dgs["DGS2"]
new_dgs.head()

            DGS2  DGS10  difference
DATE
2000-01-03  6.38   6.58        0.20
2000-01-04  6.30   6.49        0.19
2000-01-05  6.38   6.62        0.24
2000-01-06  6.35   6.57        0.22
2000-01-07  6.31   6.52        0.21

In [16]:
new_dgs["difference"].min()

-1.0800000000000005

# 3. Which Index is better recently?

Compare S&P 500 and IPC Mexico indexes by the 5 year growth and write down the largest value as an answer (%)

Download on Yahoo Finance two daily index prices for S&P 500 (^GSPC, https://finance.yahoo.com/quote/%5EGSPC/) and IPC Mexico (^MXX, https://finance.yahoo.com/quote/%5EMXX/). Compare 5Y growth for both (between 2019-04-09 and 2024-04-09). Select the higher growing index and write down the growth in % (closest integer %). E.g. if ratio end/start was 2.0925 (or growth of 109.25%), you need to write down 109 as your answer.

(Additional: think of other indexes and try to download stats and compare the growth? Do create 10Y and 20Y growth stats. What is an average yearly growth rate (CAGR) for each of the indexes you select?)

In [53]:
# https://finance.yahoo.com/quote/%5EGSPC/
df_gspc = yf.download(tickers="^GSPC", start="2019-04-09", end="2024-04-10", interval="1d")

[*********************100%%**********************]  1 of 1 completed

In [54]:
pd.concat([df_gspc.head(), df_gspc.tail()])

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-04-09,2886.580078,2886.879883,2873.330078,2878.199951,2878.199951,3032480000
2019-04-10,2881.370117,2889.709961,2879.129883,2888.209961,2888.209961,3092230000
2019-04-11,2891.919922,2893.419922,2881.989990,2888.320068,2888.320068,2970650000
2019-04-12,2900.860107,2910.540039,2898.370117,2907.409912,2907.409912,3726050000
2019-04-15,2908.320068,2909.600098,2896.479980,2905.580078,2905.580078,3114530000
2024-04-03,5194.370117,5228.750000,5194.370117,5211.490234,5211.490234,3703250000
2024-04-04,5244.049805,5256.589844,5146.060059,5147.209961,5147.209961,4075680000
2024-04-05,5158.950195,5222.180176,5157.209961,5204.339844,5204.339844,3386780000
2024-04-08,5211.370117,5219.569824,5197.350098,5202.390137,5202.390137,3278180000
2024-04-09,5217.029785,5224.810059,5160.779785,5209.910156,5209.910156,3400680000

In [63]:
# https://finance.yahoo.com/quote/%5EMXX/
df_mxx = yf.download(tickers="^MXX", start="2019-04-09", end="2024-04-10", interval="1d")

[*********************100%%**********************]  1 of 1 completed

In [74]:
fiveY_growth_gspc = ((df_gspc["Close"].iloc[-1] - df_gspc["Close"].iloc[0]) / df_gspc["Close"].iloc[0]) * 100
fiveY_growth_mxx = ((df_mxx["Close"].iloc[-1] - df_mxx["Close"].iloc[0]) / df_mxx["Close"].iloc[0]) * 100

In [73]:
print(f"GSPC 5Y growth:\t\t{round(fiveY_growth_gspc, 2)}%")
print(f"MXX 5Y growth:\t\t{round(fiveY_growth_mxx, 2)}%")

GSPC 5Y growth:		81.01%
MXX 5Y growth:		27.51%

# 4. 52-weeks range ratio (2023) for the selected stocks

Find the largest range ratio [=(max-min)/max] of Adj.Close prices in 2023

Download the 2023 daily OHLCV data on Yahoo Finance for top6 stocks on earnings (https://companiesmarketcap.com/most-profitable-companies/): 2222.SR,BRK-B, AAPL, MSFT, GOOG, JPM.

Here is the example data you should see in Pandas for "2222.SR": https://finance.yahoo.com/quote/2222.SR/history

Calculate maximum-minimim "Adj.Close" price for each stock and divide it by the maximum "Adj.Close" value. Round the result to two decimal places (e.g. 0.1575 will be 0.16)

(Additional: why this may be important for your research?)