In [1]:
import time
from datetime import date

import numpy as np
import pandas as pd

import pandas_datareader as pdr

In [2]:
end = date.today()
print(f"Year = {end.year}; month= {end.month}; day={end.day}")

start = date(year=end.year-70, month=end.month, day=end.day)
print(f"Period for indexes: {start} to {end}")

Year = 2024; month= 4; day=21
Period for indexes: 1954-04-21 to 2024-04-21

# Average growth of GDP in 2023

What is the average growth (in %) of GDP in 2023?

Download the timeseries Real Gross Domestic Product (GDPC1) from FRED (https://fred.stlouisfed.org/series/GDPC1). Calculate year-over-year (YoY) growth rate (that is, divide current value to one 4 quarters ago). Find the average YoY growth in 2023 (average from 4 YoY numbers). Round to 1 digit after the decimal point: e.g. if you get 5.66% growth => you should answer 5.7

In [3]:
gdpc1 = pdr.DataReader("GDPC1", "fred", start=start)

In [4]:
gdpc1.head()

               GDPC1
DATE
1954-07-01  2880.482
1954-10-01  2936.852
1955-01-01  3020.746
1955-04-01  3069.910
1955-07-01  3111.379

In [5]:
gdpc1["gdpc1_us_yoy"] = (gdpc1["GDPC1"]/gdpc1["GDPC1"].shift(4)-1) * 100

In [6]:
gdpc1.tail()

                GDPC1  gdpc1_us_yoy
DATE
2022-10-01  21989.981      0.651692
2023-01-01  22112.329      1.717927
2023-04-01  22225.350      2.382468
2023-07-01  22490.692      2.926887
2023-10-01  22679.255      3.134491

# Inverse "Treasury Yield"

Find the min value of (dgs10-dgs2) after since year 2000 (2000-01-01) and write it down as an answer, round to 1 digit after the decimal point.

Download DGS2 and DGS10 interest rates series (https://fred.stlouisfed.org/series/DGS2, https://fred.stlouisfed.org/series/DGS10). Join them together to one dataframe on date (you might need to read about pandas.DataFrame.join()), calculate the difference dgs10-dgs2 daily.

(Additional: think about what does the "inverted yield curve" mean for the market and investors? do you see the same thing in your country/market of interest? Do you think it can be a good predictive feature for the models?)

In [8]:
end = date.today()
print(f"Year = {end.year}; month= {end.month}; day={end.day}")

start = date(year=2000, month=1, day=1)
print(f"Period for indexes: {start} to {end}")

Year = 2024; month= 4; day=21
Period for indexes: 2000-01-01 to 2024-04-21

In [9]:
dgs2 = pdr.DataReader("DGS2", "fred", start=start)
dgs10 = pdr.DataReader("DGS10", "fred", start=start)

In [10]:
dgs2.head()

            DGS2
DATE
2000-01-03  6.38
2000-01-04  6.30
2000-01-05  6.38
2000-01-06  6.35
2000-01-07  6.31

In [12]:
new_dgs = dgs2.join(dgs10)

In [13]:
new_dgs.head()

            DGS2  DGS10
DATE
2000-01-03  6.38   6.58
2000-01-04  6.30   6.49
2000-01-05  6.38   6.62
2000-01-06  6.35   6.57
2000-01-07  6.31   6.52

In [14]:
new_dgs["difference"] = new_dgs["DGS10"] - new_dgs["DGS2"]
new_dgs.head()

            DGS2  DGS10  difference
DATE
2000-01-03  6.38   6.58        0.20
2000-01-04  6.30   6.49        0.19
2000-01-05  6.38   6.62        0.24
2000-01-06  6.35   6.57        0.22
2000-01-07  6.31   6.52        0.21

In [16]:
new_dgs["difference"].min()

-1.0800000000000005